body {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.outer-wrapper {
    box-sizing: border-box;
    min-height: 42px;
}
.header-wrapper {
  padding: 4px 0px 4px 10px;
  display: grid;
  grid-template-columns: 24px auto 55px;
  grid-column-gap: 10px;
  min-height: 70px;
  align-content: center;
  background-color: #F6F6F6;
}
.inner-wrapper {
    display: block !important;
    grid-template-columns: auto max-content;
}

.outer-wrapper > *, .inner-wrapper > * {
    align-self: center;
}

img {
    border: 0;
    margin: 0;
    padding: 0;
}

#logo {
    width: 24px;
    height: 24px;
    display: block;
}

#close {
    width: 15px;
    height: 24px;
    display: block;
    padding: 5px 0;
    box-sizing: border-box;
}

button.link,
button.neutral {
    background: none;
    padding: 5px 15px;
    color: #268334;
    border: 0;

    &:hover {
        cursor: pointer;
        background: none;
        text-decoration: underline;
    }
}
button.default {
  background-color: #ffffff;
  padding: 11px 15px;
  min-width: 100px;
  border-radius: 64px;
  color: #161922;
  border: 1px solid #161922;
  &:hover {
    cursor: pointer;
  }
}
button.primary {
  background-color: #268334;
  padding: 12px 15px;
  min-width: 100px;
  border-radius: 64px;
  color: #ffffff;
  border: 0;

  &:hover {
    cursor: pointer;
    background-color: #1c7029;
  }
}
.btn-icon {
  background-color: transparent !important;
  padding: 7px 15px;
  border-radius: 3px;
  color: #ffffff;
  border: 0;
}
.select-folder[isVaultLocked="true"] {
    display: none
}

@media (print) {
    body {
        display: none;
    }
}

.ui-components {
  padding: 0px 16px 16px;
}
.ui-components:first-child {
  padding-top: 16px;
}
input {
  box-sizing: border-box;
  margin-top: 8px;
  height: 36px !important;
  width: 100% !important;
  border-radius: 12px !important;
  border: 1px solid #AED1B3 !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
}
select {
  height: 40px !important;
  border-radius: 20px;
  border: 1px solid #AED1B3;
}
.ui-components.relative {
  position: relative;
  .btn-icon {
    position: absolute;
    bottom: 15px;
    right: 15px
  }
}
.add-buttons, .change-buttons {
  padding: 16px;
  float: right;
}
.header-text-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
}
.tab-uri {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
