@import "./element-variables";
@import "./components/button";
@import "./components/form";
@import "./components/label";

.bg-aside {
  background: #161922;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  @apply text-base;
  @apply text-black-700;
  @apply lg:text-base;
  @apply md:text-base;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 400px;
  height: 600px;
  &.body-full {
    @apply w-full h-full;
  }
}

.cs-content {
  position: absolute;
  top: 56px;
  bottom: 0px;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  @apply px-5 pt-4 pb-8;
}

.tab-page {
  .cs-content {
    bottom: 56px;
  }
}

.el-input__inner {
  height: 40px;
  line-height: 40px;
}

[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  @apply ring-0 outline-none #{!important};
}

.el-dialog.locker-dialog {
  border-radius: 8px;
  .el-dialog__header {
    @apply px-4 pt-4 py-2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .el-dialog__headerbtn {
      position: initial
    }
  }
  .el-dialog__footer {
    @apply px-4 pt-2 pb-4;
  }
  .el-dialog__body {
    @apply px-4 py-2;
  }
}
.hover-table-row:hover {
  .col-actions {
    display: block;
    visibility: visible;
  }
}
.cipher-items {
  .cipher-item {
    border-bottom: 1px solid #eaeaf5;
    min-height: 57px;
    @apply hover:bg-black-300 cursor-pointer items-center px-5 break-all;
    &:last-child {
      border-bottom: none;
    }
  }
}

.btn.btn-action {
  @apply hover:bg-black-400 text-black-600 hover:text-black mr-3;
  &:last-child {
    @apply mr-0;
  }
}
a {
  @apply hover:text-primary cursor-pointer hover:underline;
}
.el-table-column--selection .cell {
  padding-left: 10px;
  padding-right: 10px;
}
.el-breadcrumb__inner.is-link,
.el-breadcrumb__inner a {
  @apply text-black-600 font-semibold;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner,
.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover {
  @apply text-black-700 font-semibold;
}

/* vue-context */
.v-context {
  background-color: #fff;
  background-clip: padding-box;
  display: block;
  margin: 0;
  z-index: 1500;
  position: fixed;
  list-style: none;
  box-sizing: border-box;
  transform-origin: center top;
}
.v-context > li {
  margin: 0;
}
.v-context > li > a {
  display: block;
  padding: 0.5rem 1.5rem;
  font-weight: 400;
  color: #212529;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.v-context > li > a:focus,
.v-context > li > a:hover {
  text-decoration: none;
  background-color: #e6f5f5;
  color: #33b2b1;
}
.v-context:focus,
.v-context > li > a:focus {
  outline: 0;
}

.el-dialog__body {
  word-break: break-word;
}
.flex-column-fluid {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.flex-row-fluid {
  -webkit-box-flex: 1;
  flex: 1 auto;
  -ms-flex: 1 0 0px;
  min-width: 0;
}

.scrollBar:hover::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  transition: all;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  height: 90px;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-black-400;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.05);
}
.el-checkbox__input.is-checked + .el-checkbox__label {
  @apply text-black;
}
.banner-invitation {
}
.el-table {
  @apply text-black;
}
.el-table thead {
  @apply font-semibold text-black-600;
}

.setting-wrapper {
  @apply border border-transparent rounded mb-6 last:mb-0;
  box-shadow: 0px 0px 8px 2px rgba(109, 122, 130, 0.1);
  .setting-section {
    @apply px-8 py-6 last:border-b-0 border-0 border-b;
    &.setting-section--hover:hover {
      cursor: pointer;
      background: #f6f8f9;
    }
    border-color: #eaeaf5;
    .setting-title {
      @apply text-lg font-semibold;
    }
    .setting-description {
      @apply text-black-600;
    }
    .setting-section-header {
      @apply flex items-center justify-between;
    }
    .setting-section-body {
      @apply mt-6;
    }
  }
}

svg {
  display: inline-block;
}
.el-popover.locker-pw-generator {
  padding: 0;
}

.el-popper[x-placement^="bottom"].locker-pw-generator .popper__arrow::after {
  top: 1px;
  margin-left: -6px;
  border-top-width: 0;
  border-bottom-color: #f5f6f7;
}
.el-checkbox__inner {
  width: 18px;
  height: 18px;
}

.el-checkbox__inner::after {
  height: 10px;
  left: 6px;
}
.locker-callout {
  @apply border border-black-200 rounded py-2 px-4 border-l-4;
  &.locker-callout-info {
    border-left-color: $--color-info !important;
  }
  &.locker-callout-success {
    border-left-color: $--color-success !important;
  }
  &.locker-callout-danger {
    border-left-color: $--color-danger !important;
  }
}
.el-avatar {
  background: transparent;
  img {
    object-fit: contain !important;
  }
}

a {
  @apply text-primary;
}

.el-dialog__headerbtn {
  position: absolute;
  top: 36px;
  right: 30px;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}

.el-drawer.ltr.credit-drawer,
.el-drawer.rtl.credit-drawer {
  top: 0;
  height: calc(100% - 20px);
  bottom: unset;
  margin: 10px;
  .el-drawer__header {
    margin-bottom: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #dcdfe6;
    color: #113f67;
  }
  .el-drawer__body {
    overflow-y: auto;
    flex: unset;
    .credit-drawer-body {
    }
    .credit-drawer-footer {
      border-top: #dcdfe6;
      padding: 20px;
    }
  }
}

.cloud-card {
  background: #f3f5f8;
  border-radius: 15px;
  padding: 20px 10px;
}

.el-select.is-invalid {
  input.el-input__inner {
    @apply border-danger;
  }
}

.transition-card {
  transition: border-color 0.25s ease-out, background-color 0.15s ease-out;
}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.cs-field {
  .el-input__inner {
    background-color: transparent;
    border: none;
    height: 32px;
    line-height: 19px;
    padding-left: 12px;
  }
  .el-input__suffix {
    display: none;
    visibility: hidden;
  }
  .el-select .el-input.is-focus .el-input__inner {
    border: none;
  }
  .el-input.is-disabled .el-input__inner {
    background-color: transparent;
    border-color: transparent;
  }
  .el-date-editor .el-input__inner {
    padding-left: 35px;
  }
}
#vault-slider .slider-container {
  display: flex;
  justify-content: space-between;
  padding: 8px 0px;
}
#vault-slider .catagories-container {
  position: relative;
  width: 80%;
  cursor: pointer;
}
#vault-slider ul {
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 0;
}
#vault-slider .catalog-item {
  font-size: 16px;
  display: inline-block;
  margin: 0 8px 0 0;
  width: fit-content;
  a {
    border-radius: 28px;
    padding: 4px 16px;
  }
}
.list-ciphers {
  @apply bg-white;
  border-radius: 12px;
  .cipher-item {
    @apply flex items-center cursor-pointer h-[50px] px-4 border-black-400;
  }
}
.list-ciphers li:hover {
  transition: ease-in-out;
  transition-duration: 200ms;
  background-color: #E8E8E9;
}
.list-folders {
  @apply bg-white;
  border-radius: 12px;
  .folder-item {
    @apply flex items-center h-[50px] px-4 border-black-400;
  }
}
.list-folders li:hover {
  transition: ease-in-out;
  transition-duration: 200ms;
  background-color: #E8E8E9;
}
#password-generator .generated-password-container {
  padding: 6px 16px;
  background-color: #E4F0E6;
  border-radius: 4px;
}
#password-generator .password-generator-options {
  padding: 0px 20px 16px 20px;
}
.popup-setting-wrapper {
  @apply bg-white;
  border-radius: 12px;
  .popup-setting-section {
    @apply flex items-center cursor-pointer px-4 py-2;
    .setting-title {
      @apply text-black;
      font-size: 14px !important;
    }
    .setting-desc {
      @apply text-black-500;
      font-size: 11px !important;
    }

  }
}
.popup-setting-wrapper li:hover {
  transition: ease-in-out;
  transition-duration: 200ms;
  background-color: #E8E8E9;
}
.cipher-item .col-actions .btn-icon {
  visibility: hidden;
}

.cipher-item:hover .col-actions .btn-icon {
  transition: ease-in-out;
  transition-duration: 200ms;
  visibility: visible !important;
}
.timeout-option{
  @apply flex items-center justify-between p-4 py-2;
}
.timeout-option:hover {
  background-color: #E8E8E9;
}
.info-section {
  @apply text-black text-head-6 py-2;
}

.text-gray {
  color: #A2A3A7 !important;
}